body{
	background-color: #F3F3F3 !important
}
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: 310px;
    width: calc(100% - 310px);
}

.mdl-layout__drawer{
	width: 310px;
	transform: translateX(-320px);
	border-right: none;
}

.mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 320px;
	
}

@media screen and (max-width: 1024px){
	.mdl-layout--fixed-drawer>.mdl-layout__content {
		margin-left: 0;
	}
}

.mdl-card {
	min-height: 0px;
}

.mdl-card__title .mdl-grid{
	margin: 0px;
}

.mdl-card__supporting-text{
	padding: 0 16px 10px 16px;
}

.mdl-card__title-text{
	font-size: 15px;
}

.material-icons.icon{
	position: relative;
    top: 5px;
    padding-right: 4px;
}

/*.progress bar start*/
.mdl-progress>.progressbar {
    background-color: rgba(255, 152, 0, 0.53);
    z-index: 1;
    left: 0;
}

.mdl-progress>.bufferbar{
	background-image: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,.7)),linear-gradient(to right,rgb(14, 14, 16),rgb(12, 12, 12));
}
/*.progress bar end*/

.hide{
	display: none;
}

/*animate styles start*/

#data-0 {
  /*animation-duration: 3s !important;*/
  animation-delay: .3s;
  /*animation-iteration-count: infinite;*/
}

#data-1 {
  /*animation-duration: 3s !important;*/
  animation-delay: .5s;
  /*animation-iteration-count: infinite;*/
}

#data-2 {
  /*animation-duration: 3s !important;*/
  animation-delay: .7s;
  /*animation-iteration-count: infinite;*/
}

#data-3 {
  /*animation-duration: 3s !important;*/
  animation-delay: 1s;
  /*animation-iteration-count: infinite;*/
}

#mainContent {
  animation-duration: 2s;
  /*animation-delay: 1s;*/
  /*animation-iteration-count: infinite;*/
}

#work-icon {
  animation-duration: 2s;
  /*animation-delay: 1s;*/
  animation-iteration-count: 3;
}

/*animate styles end*/

/*Header Styles start*/

.header-head{
	height:149px; 
	padding-top: 20px; 
	text-transform: uppercase; 
	background-color: #37A4DC;
}

.header-title{
	position: relative; 
	top: 20px;
}

.header-address{
	position: relative; 
	top: 30px; 
	text-transform: capitalize;
	font-size: 90%
}

/*Header Styles End*/

/*SideBar Styles Start*/

.side-bar-header{
	text-transform: uppercase;
    color: whitesmoke;
    position: relative;
    top: 40px;
    left: 40px;
    font-size: 30px;
    font-weight: 300;
    word-spacing: 10px;
	letter-spacing: 2px;
    line-height: 33px;
}

.side-bar-list{
	display: block;
	text-transform: uppercase; 
	color: #8E9CA5;
	padding-bottom: 10px;
}
.side-bar-title{
	color: #1296D1;
	text-transform: uppercase;
	font-size: 110%;
	padding-bottom: 22px;
	padding-top: 22px;
	
}
.side-bar-icons{
	position: relative;
	top: 2px ;
	font-size: 15px;
	padding-right: 15px;
	color: #1296D1;
	
}
.side-bar-container{
	padding-left: 40px;
	 background-color:#F3F3F3;
}
.side-bar-email{
	text-transform: lowercase;
	color: #8E9CA5;
	
}
.side-bar-progress{
	width: 200px;
}
.side-bar-header-container{
	margin-left: -40px;
	width:310px;
	height:149px;
	background-color: #37A4DC;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

/*SideBar Styles End*/

/*MainContent Styles Start*/

.main-content-title{
	color: #1296D1;
	text-transform: uppercase;
	font-size: 24px;
	padding-bottom: 30px;
	padding-top: 30px;
}
.main-content-card-square{
	width:90%;
}
.main-content-card-container{
	padding-bottom:30px;
}
.main-content-card-heading{
	color: #3b6269;
}
.main-content-heading{
	color: #1296D1;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 30px;
}
.main-content-email{
	text-transform: lowercase;
	color: #8E9CA5;
	
}
/*MainContent Styles End*/